/* Creating root variable */
:root {
    --primary-color: #861536;
    --secondary-color: #158644;

    --global-font-size: 19px;
    --global-line-height: 1.3;
}

/* global Styling */

* {
    box-sizing: border-box;
    zoom: 1;
}

body {
    font-size: var(--global-font-size);
    line-height: var(--global-line-height);
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

body, figure { margin: 0; }

.site-logo img {
    width: 100px;
    height: auto;
}

.header {
    background-color: var(--primary-color);
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.header .container {
    display: flex;
    flex-wrap: wrap;
}

.header .col {
    width: 200px;
    /* float: left; */
}

.header .col:nth-child(2) {
    width: calc(100% - 400px);
}

.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.main-nav,
.header .col:last-child {
    display: flex;
}

.main-nav {
    align-items: center;
}

.main-nav ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.main-nav li {
    display: inline-block;
}

.main-nav a {
    display: inline-block;
    padding: 12px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 1.1rem; /* 1:1 ratio from root/body */
    transition: 0.3s;
}

.main-nav a:hover {
    transform: translateY(-3px);
    text-decoration: underline;
}

.header .icon-text {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
    padding: 20px;
    text-decoration: none;
    color: var(--primary-color);
    z-index: 1;
}

.header .icon-text span.icon-text__inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .icon-text {
    transform: skew(-20deg);
}

.header .icon-text__inner {
    transform: skew(20deg);
}

.header .icon-text svg {
    width: 32px;
    height: 32px;
}

.header .icon-text span {
    display: inline-block;
    padding-left: 12px;
    font-weight: 700;
    font-size: 1.26rem;
    text-transform: uppercase;
}

.header .icon-text::after {
    content: "";
    position: absolute;
    display: inline-block;
    background-color: white; 
    top: 0;
    left: 99%;
    width: 100vw;
    height: 100%;
}

.billboard {
    position: relative;
}

.billboard img {
    display: block;
    width: 100%;
}

.billboard-item {
    position: relative;
}

.billboard-content {
    position: absolute;
    bottom: 5%;
    left: 0;
    /* transform: translate(0, -50%); */
    width: 100%;
    padding: 40px;
}

.billboard-title,
.billboard-content p {
    margin-top: 0;
}

.billboard-title { margin-bottom: 0; }

.billboard-content * {
    color: white;
}

.billboard-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+40,0.8+100 */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,0.8) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 ); /* IE6-9 */

    width: 100%;
    height: 100%;
}
/* Vendor prefix: -moz, -webkit etc... */

.button {
    display: inline-block;
    background-color: var(--primary-color);
    border-radius: 8px;
    padding: 12px 40px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
}

.button:hover {
    background-color: var(--secondary-color);
    transform: translateY(-3px);
}

.slick-arrow {
    position: absolute;
    top: 50%;
    background-color: transparent;
    border: 0;
    border-top: 5px solid white;
    width: 20px;
    height: 20px;
    padding: 0;
    font-size: 0;
    cursor: pointer;
    transition: 0.3s;
    z-index: 2;
}

.slick-arrow:hover {
    border-width: 7px;
}

.slick-prev {
    left: 20px;
    transform: translate(0, -50%) rotate(-45deg);
    border-left: 5px solid white;
}

.slick-next {
    right: 20px;
    transform: translate(0, -50%) rotate(45deg);
    border-right: 5px solid white;
}

.hamburger {
    position: relative;
    display: none;
    border: 2px solid white;
    border-radius: 8px;
    width: 46px;
    height: 46px;
}

.hamburger span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    background-color: white;
    width: 70%;
    height: 4px;
    font-size: 0;
}

.hamburger span::before,
.hamburger span::after {
    content: "";
    position: relative;
    display: block;
    background-color: white;
    width: 100%;
    height: 4px;
}

.hamburger span::before { top: -10px; }
.hamburger span::after { bottom: -6px; }

/* Form styling */
.form-box {
    background-color: #F2F2F2;
    padding-top: 60px;
    padding-bottom: 60px;
}

.form-header,
.form-box form {
    max-width: 800px;
    margin: 0 auto;
}

.form-box input,
.form-box select,
.form-box textarea {
    width: 100%;
    padding: 2px 8px;
}

.form-box input,
.form-box select {
    height: 38px;
}

.form-box textarea {
    min-height: 120px;
}

.form-box fieldset { margin-bottom: 20px; }
.field-group { 
    margin-top: 6px; 
    margin-bottom: 6px;
}
.form-box input[type*="radio"],
.form-box input[type*="checkbox"] {
    width: 22px;
}
.form-box ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.form-box li { 
    display: inline-block;
    padding: 4px;
}
.form-box li label,
.form-box li input { vertical-align: middle; }
.form-box h4 { margin: 0; }
.field-group > label { font-weight: 700; }

.field-group [type*="submit"],
.field-group [type*="reset"] {
    border: 0;
    border-radius: 4px;
    width: auto;
    height: auto;
    padding: 12px 36px;
    font-size: 21px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
.field-group [type*="submit"] { background-color: green; }
.field-group [type*="reset"] { background-color: orangered; }

.field-group [type*="submit"]:hover,
.field-group [type*="reset"]:hover {
    transform: translateY(-3px) scale(1.03);
}

/* 
CSS Media
- print
- device (all, screen)
- syntax:
@media print {
    css_selector { property: value; }
    .header { display: none; } 
}
@media screen and (max-width: 1024px) {
    css_selector { property: value; }
}
@media screen and (min-width: 900px) {
    css_selector { property: value; }
}
*/
@media screen and (max-width: 1024px) {
    .main-nav a {
        font-size: 1rem;
    }
}

@media screen and (max-width: 1024px) and (min-width: 900px) {
    .main-nav a {
        padding: 6px;
    }
    .header .icon-text::before {
        right: 70%;
    }
}

@media all and (max-width: 900px) {
    .hamburger {
        display: inline-block;
    }

    .main-nav {
        position: relative;
    }

    .main-nav > ul {
        position: absolute;
        top: 100%;
        display: none;
        background-color: var(--primary-color);
        min-width: 180px;
        z-index: 10;
    }

    .main-nav li {
        display: block;
    }
}

@media all and (min-width: 901px) {
    .main-nav > ul {
        display: block !important;
    }
}

@media print {
    .header {
        display: none;
    }
}
